/* Fuentes personalizadas */
@font-face {
    font-family: 'roboto_medium_regular';
    src: url('../webfonts/roboto-medium-webfont.woff2') format('woff2'),
         url('../webfonts/roboto-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensed_light';
    src: url('../webfonts/robotocondensed-light-webfont.woff2') format('woff2'),
         url('../webfonts/robotocondensed-light-webfont.woff') format('woff'),
         url('../webfonts/robotocondensed-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensed_regular';
    src: url('../webfonts/robotocondensed-regular-webfont.woff2') format('woff2'),
         url('../webfonts/robotocondensed-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'poppinsregular';
    src: url('../webfonts/popins/poppins-regular-webfont.eot');
    src: url('../webfonts/popins/poppins-regular-webfont.woff2') format('woff2'),
         url('../webfonts/popins/poppins-regular-webfont.woff') format('woff'),
         url('../webfonts/popins/poppins-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Variables de color */
:root {
    --color-one: #F5F5F5;
    --color-two: #24292E;
    --color-three: #EC5252;
    --form-color: #14111A;
    --accent-color: #253556;
    --border-color: #D8D8D8;
    --header-height: 60px;
}

/* Estilos generales para el cuerpo y HTML */
body, html {
    font-family: 'roboto_condensed_light';
    width: 100%;
    height: 100%;
    color: var(--bs-black);
    font-size: 16px;
}

/* Estilos generales de caja y bordes */
.full-box {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

.div-bordered {
    border: 1px solid #E1E1E1;
}

/* Estilos de texto */
.roboto-medium {
    font-family: 'roboto_medium_regular';
}

.roboto-condensed-light {
    font-family: 'roboto_condensed_light';
}

.roboto-condensed-regular {
    font-family: 'roboto_condensed_regular';
}

.poppins-regular {
    font-family: 'poppinsregular';
}

/* Estilos de la barra de navegación */
.header,
.header-brand,
.header-options,
.header-navbar,
.header-button {
    height: 5.8em;
    transition: all .2s ease-in-out;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    position: relative;
    color: var(--text-color);
    display: flex;
}

.header-brand {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-brand img {
    max-width: 10em;
}

.header-options {
    width: 75%;
    padding-right: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-navbar {
    width: auto;
}

.header-navbar ul,
.header-navbar ul li,
.header-navbar ul li a {
    width: auto;
    padding-top: 0;
    margin-top: 0;
}

.header-navbar > ul > li,
.header-navbar > ul > li > a,
.header-button,
.header-button > i {
    display: inline-block;
    height: var(--header-height);
    line-height: var(--header-height);
    transition: all .2s ease-in-out;
    position: relative;
}

.header-button > i {
    cursor: pointer;
    width: 100%;
}

.header-navbar > ul > li > a {
    padding: 0 15px;
    font-size: calc(var(--header-height) / 3.5);
}

.header-navbar > ul > li > a,
.header-button {
    color: var(--text-color);
}

.header-navbar > ul > li > a:hover,
.header-button:hover {
    text-decoration: none;
    color: var(--link-hover);
}

.header-button {
    width: var(--header-height);
    padding: 0;
    margin: 0;
    font-size: calc(var(--header-height) / 3);
}

.bag-count {
    position: absolute;
    top: calc(var(--header-height) - (var(--header-height) / 1.2));
    right: 5px;
    font-size: 13px;
}

.popup-login {
    inset: 9px auto auto 0px !important;
    z-index: 99999;
}

.popup-login::after,
.popup-login::before {
    bottom: 100%;
    right: 20px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.popup-login::after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fff;
    border-width: 8px;
    margin-right: 0px;
}

.popup-login::before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #ccc;
    border-width: 9px;
    margin-right: -1px;
}

/* Estilos del banner */
.banner {
    height: calc(100vh - var(--header-height));
    position: relative;
    background-position: center;
    background-image: url('../assets/img/banner_1.jpg');
    background-size: cover;
    animation: banner 15s infinite linear;
}

.banner-body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    color: #FFF;
    font-family: 'poppinsregular';
    text-align: center;
}

.banner::before {
    content: "";
    background: #000000;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

@keyframes banner {
    0% {
        background-image: url('../assets/img/banner_1.jpg');
    }

    33% {
        background-image: url('../assets/img/banner_1.jpg');
    }

    34% {
        background-image: url('../assets/img/banner_2.jpg');
    }

    66% {
        background-image: url('../assets/img/banner_2.jpg');
    }

    67% {
        background-image: url('../assets/img/banner_3.jpg');
    }

    100% {
        background-image: url('../assets/img/banner_3.jpg');
    }
}

/* Estilos para el menú de hamburguesa */
.hamburger-menu {
    display: none; /* El menú de hamburguesa está oculto inicialmente */
}

.hamburger-icon {
    width: 40px;
    height: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bar {
    width: 100%;
    height: 5px;
    background-color: #000;
}


/* Estilos de la sección Hero */
.hero-section {
    background-image: url('../assets/img/banner.jpg'); 
    background-size: cover;
    background-position: center;
    padding: 60px 0;
    color: black;
    text-align: center;
}

.hero-section .content-box {
    background-color: rgba(211, 211, 211, 0.8); 
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

.hero-section .form-control, 
.hero-section .btn {
    display: inline-block;
    width: auto;
    margin: 5px;
}

/* Estilos de la sección de tarjetas de restaurantes */
.container-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card-restaurant {
    width: 300px;
    margin: 15px;
    position: relative;
    border-radius: 10px;
    color: var(--accent-color);
    border: 1px solid #ccc;
}

.card-restaurant-img,
.card-restaurant-body {
    position: relative;
    width: 100%;
}

.card-restaurant-img {
    height: 200px; 
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.card-restaurant-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-restaurant-body {
    border-radius: 0 0 10px 10px;
    height: 150px; 
    padding: 10px;
}

.card-restaurant-content {
    height: 100px; 
    padding: 10px;
    overflow: hidden;
}

.card-restaurant-content:hover {
    overflow: auto;
}

.card-restaurant-options {
    height: 50px; 
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

/* Estilos de login */
.container-signin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100;
}
/* Estilos de login */
.container-signin {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - var(--header-height));
    background-image: url('../assets/img/fondo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.login-content {
    width: 95%;
    max-width: 320px;
    background-color: #FFF;
    padding: 15px;
    color: #333;
    border-radius: 5px;
}

.login-icon {
    max-width: 125px;
    margin: 0 auto;
    display: block;
    box-shadow: 0 0 1px 3px #1266F1;
    border-radius: 100%;
}

/* Estilos del texto centrado */
.text-center {
    color: white;
}
.text-white {
    font-weight: 800;
    color: #000; 
}

.text-white .change-location {
    color: red; /* Color rojo por defecto */
}

.text-white:hover .change-location {
    color: #FFA900; /* Color naranja al pasar el ratón */
}


/* Estilos del pie de página */
.footer {
    margin-top: 50px;
    border-top: 1px solid #E1E1E1;
    padding: 70px 0 40px 0;
    font-family: 'poppinsregular', sans-serif;
    background-color: rgb(251, 251, 251);
    color: var(--accent-color);
}

.footer .container .row .col-12 ul li,
.footer .container .row .col-12 ul li a {
    color: #695d46;
}

.footer .container .row .col-12 ul li a:hover {
    color: #4d4535; /* Un tono más oscuro para el efecto hover */
}

.footer-link {
    text-decoration: none !important;
    color: var(--accent-color);
}

.footer-link:hover {
    color: var(--accent-color);
}

/* Contenedores web */
.container-web-page {
    padding-top: 50px;
    padding-bottom: 30px;
}

.row {
    margin-left: -10px; /* Ajuste del espacio entre las columnas */
    margin-right: -10px; /* Ajuste del espacio entre las columnas */
}

.col-md-4 {
    padding-left: 10px; /* Ajuste del espacio entre las columnas */
    padding-right: 10px; /* Ajuste del espacio entre las columnas */
}

.restaurant-card {
    border: 1px solid #ccc; /* Borde del card */
    border-radius: 10px; /* Bordes redondeados */
    overflow: hidden; /* Para que las esquinas redondeadas se muestren correctamente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: transform 0.3s ease-in-out; /* Transición suave */
}
.restaurant-card:hover {
    transform: translateY(-5px); /* Efecto de levantamiento al pasar el ratón */
}

.restaurant-card img {
    width: 100%; /* Ajustar imagen al ancho del card */
    max-height: 150px; /* Altura máxima de la imagen */
    object-fit: cover; /* Escalar imagen para ajustarse */
    border-bottom: 1px solid #ccc; /* Línea divisoria bajo la imagen */
}

.restaurant-card-body {
    padding: 20px; /* Espaciado interno */
}

.restaurant-card-body .btn {
    margin-top: 10px; /* Espaciado entre botones y otros elementos */
    margin-right: 5px; /* Espaciado entre botones */
}

.restaurant-card-body .btn-primary {
    background-color: #FFA900; 
    border-color: #FFA900; 
    color: #fff; 
}

.restaurant-card-body .btn-success {
    background-color: #695D46;
    border-color: #695D46; 
    color: #fff; 
}
.container.container-web-page {
    color: black;
}

.container.container-web-page h3,
.container.container-web-page h5,
.container.container-web-page p,
.container.container-web-page span {
    color: black;
}
.card-restaurant-content h5,
.card-restaurant-content p,
.card-restaurant-content span {
    color: #000; 
}

.container-registration {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url('../assets/img/fondo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-registration form {
    width: 90%;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid transparent; 
    border-radius: 10px; 
    margin: 5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    color: #000; 

}

.container-registration form fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.container-registration form legend {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.container-registration form label {
    font-weight: bold;
}

.container-registration form p {
    margin-top: 20px;
    text-align: center;
}

.container-registration form .btn {
    margin-top: 10px;
}

.container-registration form small {
    display: block;
    margin-top: 10px;
    text-align: center;
}

.container-registration form input[type="text"],
.container-registration form input[type="email"],
.container-registration form input[type="password"],
.container-registration form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #fff; 
    border-radius: 5px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.5); 
    color: #000; 
}

.container-registration form input[type="text"]:focus,
.container-registration form input[type="email"]:focus,
.container-registration form input[type="password"]:focus,
.container-registration form select:focus {
    outline: none;
    border-color: #5bc0de; 
    box-shadow: 0 0 5px rgba(91, 192, 222, 0.5); 
}
.text-justify{
    color:#F5F5F5;
    text-align: center;
    font-weight: 600px;
}
.container-registration form .btn {
    margin-top: 10px;
    color: #fff; 
    background-color: #FFA900; 
    border-color: #FFA900; 
}

.container-registration form .btn:hover {
    background-color: #ffa900; 
}
.confirm{
    background-image:url(../assets/img/fondo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    margin-top: 5em;
}
.btn-custom-success {
    background-color: #695D46;
    border-color: #695D46;
    color: white;
}

.btn-custom-success:hover {
    background-color: #4e4636; /* Un tono más oscuro */
    border-color: #4e4636;
}
.full-height {
    min-height: calc(100vh - 120px);
    display: flex;
    align-items: center;
    justify-content: center;
}s

.card {
    width: 100vw;
    justify-content: center;
    background-color: #fff;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}


.card-title, .card-text, .list-group-item {
    color: #333;
}

.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer .list-unstyled {
    margin-bottom: 0;
}

.footer-link {
    color: #007bff;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

  